<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Painterly</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  --}}

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Painterly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if loggedIn}}
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">My Paintings</a>
        </li>

        <li>
          <a class="nav-link" href="/canvas">New Painting</a>
        </li>

        <li>
          <button id="logout">Log Out</button>
        </li>
        {{else}}
        <li>
          <a href="/login">Log In</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}


  <footer>
    Created by Sharni, Kota, Brian & Tori &copy;
  </footer>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
