<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Painterly</title>

  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css" />
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>   --}}

  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/images/logo.png" height="70" width="350" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{#if loggedIn}}
        <li class="nav-item active">
          <a class="btn btn-outline-warning" href="/">Home</a>
        </li>

        <li class="nav-item active">
          <a class="btn btn-outline-warning" href="/dashboard">My Paintings</a>
        </li>

        <li>
          <a class="btn btn-outline-warning" href="/canvas">New Painting</a>
        </li>

        <li>
          <button id="logout" class="btn btn-outline-warning">Log Out</button>
        </li>
        {{else}}
        <li>
          <a href="/login" class="btn btn-outline-warning">Log In</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  {{{body}}}


  <footer>
    Created by Sharni, Kota & Tori &copy;
  </footer>
  </div>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  $('.collapse').collapse()
</script>
</body>

</html>

