<body>
<div class="sidebar">
  <span>
      <label for="color-selection">Color:</label>
      <input type="color" id="color-selection"/>
    </span>
    <span>
      <label for="line-weight">Stroke:</label>
      <input type="number" id="line-weight" min="2" max="200" value="3"/>
    </span>
    <span>
      <button id="clear-canvas" class="btn btn-outline-warning">Clear<i class="fa fa-trash"></i></button>
    </span>
    <span>
      <button id="save-canvas" class="btn btn-outline-warning">Save Canvas</button>
    </span>
  </span>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.3.1/lib/p5.js"></script>
<script src="/js/add-painting.js"></script>
</body>