<form id="form">
  <div>
    <label>Select file to upload</label>
    <input type="file" id="fileupload">
  </div>
  <button type="submit" id="uploadButton">Convert</button>
</form>

<script src="/js/image-upload.js"></script>