<div class="sidebar">
  <ul>
    <li>
      <label for="color-selection">Color:</label>
      <input type="color" id="color-selection"/>
    </li>
    <li>
      <label for="line-weight">Stroke:</label>
      <input type="number" id="line-weight" min="2" max="200" value="3"/>
    </li>
    <li>
      <button id="clear-canvas"><i class="fa fa-trash"></i></button>
    </li>
    <li>
      <button id="save-canvas">Save Canvas</button>
    </li>
  </ul>
</div>

<script src="/js/add-painting"></script>
