
<link rel="stylesheet" href="/css/login.css">
<section>
    <div class="container">
        <div class="row justify-content-center">
    <form id="login">
        <h3>Log In</h3>
        <p>Welcome back!</p>

        <div class="container">
            <div class="row justify-content-center">
            <label for="login-email">Email</label>
            <input type="email" id="login-email">
        </div>
        <div class="container">
            <div class="row justify-content-center">
            <label for="login-password">Password</label>
            <input type="password" id="login-password">
        </div>
        <div class="container">
            <div class="row justify-content-center">
            <button type="submit">Log In</button>
        </div>
    </form>
    <div class="container">
        <div class="row justify-content-center">
    <form id="sign-up">
        <h3>Sign Up</h3>
        <p>New to painterly? Sign up now!</p>
        <div>
            <label for="signup-username">Username</label>
            <input type="text" id="signup-username">
        </div>
        <div>
            <label for="signup-email">Email</label>
            <input type="email" id="signup-email">
        </div>
        <div>
            <label for="signup-password">Password</label>
            <input type="password" id="signup-password">
        </div>
        <div class="row justify-content-center">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</section>

<script src="/js/login.js"></script> 