
<link rel="stylesheet" href="/css/login.css">
<section class="login-page">
    <form id="login">
        <h3 class="text-center">Log In</h3>
        <p class="text-center">Welcome back!</p>
        <div id="login-error"></div>
        <div class="container">
            <label for="login-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="login-email">
        </div>
        <div class="container">
            <label for="login-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="login-password">
        </div>
        <div class="row justify-content-center mb-4">
            <button type="submit" class="btn btn-outline-warning">Log In</button>
        </div>
    </form>
   
    <form id="sign-up">
        <h3 class="text-center">Sign Up</h3>
        <p class="text-center">New to painterly? Sign up now!</p>
        <div id="success-message"></div>
        <div>
            <label for="signup-username" class="form-label">Username</label>
            <input type="text" class="form-control" id="signup-username">
        </div>
        <div>
            <label for="signup-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="signup-email">
        </div>
        <div>
            <label for="signup-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="signup-password">
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-outline-warning">Sign Up</button>
        </div>
    </form>
</section>

<script src="/js/login.js"></script> 