<section id="user-profile">
        <h2>{{user.username}}'s Art</h2>
        <div>
        {{#each user.paintings}}
        <div class="painting">
            <a href="/painting/{{id}}">
            <h4>{{title}}</h4>
            <div class="frame">
            <img src={{image_url}} alt="a painting">
            </div>
            </a>
        </div>
        {{/each}}
        </div>

    </section>